doctype html
head
  title Films App
body
  h1 Welcome! Look for a movie
  form(method='post' action='/film/')
    input(name='title' type='text' placeholder='tu pelicula...')
    input(type='submit' value='Buscador')